## **Dictionary**

In [1]:
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32} # note the {}

In [2]:
type(my_dict)

dict

In [5]:
len(my_dict)

5

In [3]:
my_dict['New York']

28

In [4]:
my_dict['St Louis']

KeyError: 'St Louis'

In [6]:
my_dict['St Louis'] = 31 # add a new key-value pair
my_dict

{'New York': 28,
 'Chicago': 22,
 'Phoenix': 31,
 'Dallas': 27,
 'Los Angeles': 32,
 'St Louis': 31}

In [7]:
my_dict['Dallas'] = 28 # change value for an existing key
my_dict

{'New York': 28,
 'Chicago': 22,
 'Phoenix': 31,
 'Dallas': 28,
 'Los Angeles': 32,
 'St Louis': 31}

In [8]:
'Boston' in my_dict

False

In [9]:
'Chicago' in my_dict

True

In [10]:
del my_dict['Phoenix']
my_dict

{'New York': 28,
 'Chicago': 22,
 'Dallas': 28,
 'Los Angeles': 32,
 'St Louis': 31}

In [1]:
X1=['New York','Chicago','Dallas','Los Angeles','St Louis','Boston']
X2=[28,22,28,32,31,29]

In [2]:
d1=dict(zip(X1,X2))
d1

{'New York': 28,
 'Chicago': 22,
 'Dallas': 28,
 'Los Angeles': 32,
 'St Louis': 31,
 'Boston': 29}

In [3]:
d1=dict(zip(X2,X1))
d1

{28: 'Dallas', 22: 'Chicago', 32: 'Los Angeles', 31: 'St Louis', 29: 'Boston'}

In [13]:
d1={key[i]:value[i] for i in range(len(key))}
d1

{'New York': 28,
 'Chicago': 22,
 'Dallas': 28,
 'Los Angeles': 32,
 'St Louis': 31,
 'Boston': 29}

## Pre-defined methods of dictionary

Python has a set of built-in methods that you can use on dictionaries.

* *clear( )*

In [14]:
#Removes all the elements from the dictionary

my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.clear()
print(my_dict)

{}

* *copy( )*

In [15]:
#Returns a copy of the dictionary
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
x=my_dict.copy()
print(x)

{'New York': 28, 'Chicago': 22, 'Phoenix': 31, 'Dallas': 27, 'Los Angeles': 32}

* *fromkeys( )*

In [16]:
#Returns a dictionary with the specified keys and value
x=('New York','Chicago','Phoenix','Dallas','Los Angeles')
y=30
new_dict_1=dict.fromkeys(x,y)
print('new_dict_1 : ',new_dict_1)

new_dict_1 :  {'New York': 30, 'Chicago': 30, 'Phoenix': 30, 'Dallas': 30, 'Los Angeles': 30}

In [17]:
#Keys required. An iterable specifying the keys of the new dictionary
#Values Optional. The value for all keys. Default value is None
new_dict_2=dict.fromkeys(x) #values are optional
print('new_dict_2 : ',new_dict_2)

new_dict_2 :  {'New York': None, 'Chicago': None, 'Phoenix': None, 'Dallas': None, 'Los Angeles': None}

* *get( )*

In [18]:
#Returns the value of the specified key
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.get('Phoenix')

31

* *items( )*

In [19]:
#Returns a list containing a tuple for each key value pair
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.items()

dict_items([('New York', 28), ('Chicago', 22), ('Phoenix', 31), ('Dallas', 27), ('Los Angeles', 32)])

In [20]:
#Update value of dict and see! items() returns updated dict
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}

x=my_dict.items()
print('old: ',x)

my_dict['Chicago']=29
print('updated :',x)

old:  dict_items([('New York', 28), ('Chicago', 22), ('Phoenix', 31), ('Dallas', 27), ('Los Angeles', 32)])
updated : dict_items([('New York', 28), ('Chicago', 29), ('Phoenix', 31), ('Dallas', 27), ('Los Angeles', 32)])

* *keys( )*

In [21]:
#Returns a list containing the dictionary's keys
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.keys()

dict_keys(['New York', 'Chicago', 'Phoenix', 'Dallas', 'Los Angeles'])

In [22]:
#Update value of dict and see! keys() returns updated dict
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}

x=my_dict.keys()
print('old: ',x)

my_dict['Tokyo']=29
print('updated :',x)

old:  dict_keys(['New York', 'Chicago', 'Phoenix', 'Dallas', 'Los Angeles'])
updated : dict_keys(['New York', 'Chicago', 'Phoenix', 'Dallas', 'Los Angeles', 'Tokyo'])

* *values( )*

In [23]:
#Returns a list containing the dictionary's values
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.values()

dict_values([28, 22, 31, 27, 32])

* *pop( )*

In [24]:
#Removes the element with the specified key
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.pop('Chicago')
print(my_dict)

{'New York': 28, 'Phoenix': 31, 'Dallas': 27, 'Los Angeles': 32}

In [25]:
#Returns the value of the removed item 
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
x=my_dict.pop('Chicago')
print(x)

22

* *popitem( )*

In [26]:
#Removes the last inserted key-value pair
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.popitem()
print(my_dict)

{'New York': 28, 'Chicago': 22, 'Phoenix': 31, 'Dallas': 27}

In [27]:
#Returns the value of the removed item 
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
x=my_dict.popitem()
print(x)

('Los Angeles', 32)

* *setdefault( )*

In [28]:
#Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
x=my_dict.setdefault('Tokyo',29)
print('x',x)
y=my_dict.setdefault('Chicago',31)
print('y',y)

x 29
y 22

* *update( )*

In [29]:
#Updates the dictionary with the specified key-value pairs
my_dict = {'New York':28,'Chicago':22,'Phoenix':31,'Dallas':27,'Los Angeles':32}
my_dict.update({'Tokyo':29}) 
print(my_dict)

{'New York': 28, 'Chicago': 22, 'Phoenix': 31, 'Dallas': 27, 'Los Angeles': 32, 'Tokyo': 29}