## Problems On List

### Use a loop to display elements from a given list present at odd index positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#try your code here

In [ ]:
list1=[20,36,61,46,28,36,61,46,49,70,38,7,49,70,19,28,36,61,46,7,19,28,49,70,36,61,46,70,38,9,43,7,49,70,19,28,4,44,64,19,83,44,36,61,46,28,49,70]

## Find distinct digits in list

In [ ]:
#try your code here

## Find the number of times the specified digit appears in the list.

In [ ]:
#try your code here

## Sum of those distinct digits in the list

In [ ]:
#try your code here

## Find max and min value of the list

In [ ]:
#try your code here

### Extract elements with Frequency greater than 2

In [ ]:
#try your code here

### Remove all occurrences of a specific item (61) from a list.

In [ ]:
#try your code here

### Find all of the numbers from 1-1000 that have a 3 in them

In [ ]:
#try your code here

### Find all of the numbers from 1-1000 that are divisible by 7

In [ ]:
#try your code here

### Takes two lists and returns True if they have at least one common member

input1: [1,2,3,4,5], [5,6,7,8,9]

input2: [1,2,3,4,5], [6,7,8,9]

In [ ]:
#try your code here

## swap two elements in a list
Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
Output : [1, 5, 3, 4, 2]

In [ ]:
#try your code here
# hints :: syntax:list[pos1], list[pos2] = list[pos2], list[pos1]

### Concatenate two lists index-wise

list1 = ["M", "na", "i", "am"]

list2 = ["y", "me", "s", "it"]

output will be ['My', 'name', 'is', 'amit']

In [ ]:
#try your code here

### Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

output will be ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
#try your code here

 ### Remove empty strings from the list of strings 

 ['New York','London',' ','Mumbai','Berlin','Sydney','Beijing',' ','Singapore','Chicago','Paris','Johannesburg']

In [ ]:
#try your code here

### Replace listâ€™s item with new value if found

input:
 ['New York','London','Mumbai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']
 
output:
 ['New York','London','Chennai','Berlin','Sydney','Beijing','Singapore','Chicago','Paris','Johannesburg']

In [ ]:
#try your code here