In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

### Create a DataFrame df from this dictionary data which has the index labels.

In [3]:
#try your code here

### Extract basic information from the dataframe

In [4]:
#try your code here

### Return the first 3 rows of the DataFrame df

In [5]:
#try your code here

### Select just the 'animal' and 'age' columns from the DataFrame df

In [6]:
#try your code here

### Select the data in rows [3, 4, 8] and in columns ['animal', 'age']

In [7]:
#try your code here

### Select only the rows where the number of visits is greater than 2. (visit>2)

In [8]:
#try your code here

### Select the rows where the age is missing

In [9]:
#try your code here

### Select the rows where the animal is a cat and the age is less than 3.

In [10]:
#try your code here

### Change the age in row 'f' to 1.5.

In [11]:
#try your code here

### Calculate the sum of all visits in df (i.e. the total number of visits).

In [12]:
#try your code here

### Calculate the mean age for each different animal in df.

https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/

In [13]:
#try your code here

### Append a new row 'k' to df with your choice of values for each column.

In [14]:
#try your code here

### Then delete that row to return the original DataFrame.

In [15]:
#try your code here

### Count the number of each type of animal in df.

https://www.geeksforgeeks.org/python-pandas-series-value_counts/

In [16]:
#try your code here

### Sort df first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order

In [17]:
#try your code here

### The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [18]:
#try your code here

### a DataFrame df with a column 'A' of integers.
### df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
### How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

1, 2, 3, 4, 5, 6, 7

https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/

In [19]:
#try your code here

### Given a DataFrame of random numeric values:

df = pd.DataFrame(np.random.random(size=(5, 3)))

how do you subtract the row mean from each element in the row?

In [20]:
#try your code here

https://www.geeksforgeeks.org/python-pandas-dataframe-sub/#:~:text=sub()%20function%20is%20used,in%20one%20of%20the%20inputs.

### Suppose you have DataFrame with 10 columns of real numbers, for example:

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

Which column of numbers has the smallest sum? Return that column's label.

https://www.geeksforgeeks.org/python-pandas-dataframe-idxmin/

In [21]:
#try your code here

### How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

https://www.geeksforgeeks.org/python-pandas-dataframe-duplicated/

In [22]:
#try your code here